ol {
  list-style: none;
  width: 614px;
  margin: auto;
}

ol li {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid;
  vertical-align: top;
  margin-right: -4px;
  font-size: 120px;
  text-align: center;
  line-height: 200px;

}
