<h1><%= @question %></h1>

<form class="" action="/translation" method="post">Enter a word
  <input type="input" name="words" value="">
  <input type="submit" value="submit">Submit word</button>
</form>
