<h1>New Profile</h1>

<form action="/profiles" method="post">
    <label for="profile_name">Name</label>
        <input type="text" name="profile[name]" id="profile_name">
        <label for="profile_age">Age</label>
        <input type="text" name="profile[age]" id="profile_age">
        <label for="profile_species">Species</label>
        <input type="text" name="profile[species]" id="profile_species">
        <label for="profile_img">Image</label>
        <input type="text" name="profile[img]" id="profile_img">
        <label for="profile_img">Hobbies</label>
        <input type="text" name="profile[hobbies]" id="profile_hobbies">
        <label for="profile_dislikes">Dislikes</label>
        <input type="text" name="profile[dislikes]" id="profile_dislikes">

        <input type="submit" value="Add">
</form>
